<div ng-controller="AnalyzerController as ctrl"  layout="row" layout-padding>
  <div flex="33">
    <h3 class="md-title">
      Source
      <button ng-if="ctrl.state == 'finished'" class="md-button md-primary md-raised" ng-click="ctrl.render()">Start</button>
      <button ng-if="ctrl.state == 'stepping'" class="md-button md-primary md-raised" ng-click="ctrl.play()">Play</button>
      <button ng-if="ctrl.state == 'playing'" class="md-button md-primary md-raised" ng-click="ctrl.pause()">Pause</button>
      <button ng-if="ctrl.state == 'stepping'" class="md-button md-primary md-raised" ng-click="ctrl.step()">Step</button>
      <button ng-if="ctrl.state != 'finished'" class="md-button md-primary md-raised" ng-click="ctrl.stop()">Stop</button>
       <md-checkbox ng-model="ctrl.memoize" ng-disabled="ctrl.state != 'finished'">Memoize?</md-checkbox>
    </h3>
    <div ui-ace="{
      useWrapMode : true,
      mode: 'javascript'
    }" ng-model="ctrl.source" required></div>
    <h3 class="md-title">Input</h3>
    <div ui-ace="{
      useWrapMode : true,
      mode: 'javascript'
    }" ng-model="ctrl.input" required></div>
  </div>
  <div flex="66">
    <call-hierarchy root="ctrl.root" frame-id="ctrl.activeFrameId"></call-hierarchy>
  </div>
</div>