html, body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}
div[ui-ace] {
  min-height: 300px;
}


call-hierarchy {
  display: block;
  width: 100%;
  height: 100%;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { 
  font: 12px sans-serif; 
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
